In [1]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
april = pd.read_csv("../Sales_Data/Sales_April_2019.csv")
april.head()
col_names = april.columns
print(april.shape)
april.head()

(18383, 6)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [3]:
#since we have each month data lets check each month data
files = [file for file in os.listdir('../Sales_Data')]
for file in files:
    print(file)

Sales_September_2019.csv
Sales_May_2019.csv
Sales_October_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_April_2019.csv
Sales_March_2019.csv
Sales_June_2019.csv
Sales_November_2019.csv
Sales_July_2019.csv
Sales_January_2019.csv

## Combine all datasets into one to ease analysis

Iterate reading datasets then concat them into one

In [5]:
#merge our data into one
#df = pd.read_csv('./Sales_Data/Sales_April_2019.csv')

files = [file for file in os.listdir('../Sales_Data')]
all_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('../Sales_Data/'+file)
    all_data = pd.concat([all_data, df], ignore_index=True)
    
all_data.head()
#all_data.to_csv('2019_sales_data', index=False)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

In [7]:
all_data.sample(100)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
171909,231662,Apple Airpods Headphones,1,150,07/10/19 13:33,"489 9th St, New York City, NY 10001"
116369,162123,Bose SoundSport Headphones,1,99.99,03/13/19 18:02,"295 South St, San Francisco, CA 94016"
139778,217845,27in FHD Monitor,1,149.99,06/30/19 01:25,"506 6th St, Los Angeles, CA 90001"
86925,151552,ThinkPad Laptop,1,999.99,02/21/19 14:52,"808 Dogwood St, Atlanta, GA 30301"
56861,244480,iPhone,1,700,08/27/19 17:31,"813 Washington St, Boston, MA 02215"
...,...,...,...,...,...,...
114466,192400,AAA Batteries (4-pack),1,2.99,04/29/19 20:38,"437 Church St, Portland, OR 97035"
137149,215305,Apple Airpods Headphones,1,150,06/23/19 21:28,"982 Dogwood St, Portland, OR 97035"
12493,194857,Wired Headphones,1,11.99,05/19/19 17:47,"322 Johnson St, San Francisco, CA 94016"
98821,177468,Bose SoundSport Headphones,1,99.99,04/12/19 10:12,"226 Park St, Los Angeles, CA 90001"
26253,207953,Bose SoundSport Headphones,1,99.99,05/10/19 14:32,"24 Jefferson St, New York City, NY 10001"

In [8]:
#all_data shape
all_data.shape

(186850, 6)

In [12]:
#check for datatypes of my data
all_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

## data cleaning

get our concated dataset for analysis

In [11]:
#check for missing data
all_data.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

since the missing data is across columns, we drop all the missing data values

In [13]:
#dropping missing data
all_data.dropna(how='all', inplace=True)


concating dataset might repeat data headers, check for repeated data headers and remove them

In [15]:
#check for repeated headers in the whole dataset
filt = all_data[all_data['Order Date'] == 'Order Date']
print(filt.shape)

(355, 6)

In [16]:
#let remove repeated data headers
all_data.drop(all_data[all_data['Order Date'] == 'Order Date'].index, inplace = True)

In [17]:
#check for new data shape
all_data.shape

(185950, 6)

In [ ]:
all_data.head()

In [ ]:
all_data['Date']= pd.to_datetime(all_data['Order Date'])

In [ ]:
all_data.head()

In [ ]:
all_data.dtypes

In [ ]:
all_data['month'] = all_data['Date'].dt.month

In [ ]:
all_data.head()

In [ ]:
#convert price and quantity to numeric
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])

In [ ]:
all_data.shape

In [ ]:
all_data.dtypes

In [ ]:
all_data['sales'] = all_data['Quantity Ordered'] * all_data['Price Each']

In [ ]:
all_data.head(30)

In [ ]:
best_sales_month = all_data.groupby('month')['sales'].sum()

In [ ]:
months = range(1, 13)
plt.bar(months, best_sales_month)
plt.show()

In [ ]:
all_data.shape

In [ ]:
def get_city(address):
    return address.split(',')[1]

def get_state    (address):
    return address.split(',')[2].split(' ')[1]

all_data['city'] = all_data['Purchase Address'].apply(lambda x: f"{get_city(x)}({get_state(x)})")
all_data.head()

In [ ]:
all_data['city'].nunique()

In [ ]:
sales_per_city = all_data.groupby('city').sum()

In [ ]:
all_data.groupby('city')['sales'].sum()

In [ ]:
cities = [city for city, df in all_data.groupby('city')]

plt.bar(cities, sales_per_city['sales'])
plt.xticks(cities, rotation='vertical')
plt.ylabel('sales in USD ($)')
plt.xlabel('city')

In [ ]:
all_data['hour'] = all_data['Date'].dt.hour
all_data.head()

In [ ]:
all_data.groupby('Order ID')['Product'].head()